---
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}Homepage{% endif %}"
layout: layouts/base.njk
permalink: /{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
eleventyNavigation:
  key: Home
  weight: 0
---

<div class="container">
  <div class="hero">
    <h1>
      {% if site.hero.title %}
        {% if pagination.pageNumber != 0 %}Page {{ pagination.pageNumber + 1 }} | {% endif %}
        {{ site.hero.title }}
      {% else %}
        {{ site.meta.title }}
      {% endif %}
    </h1>
      <div class="hero-flex">
      <p class="hero__description">
        {% if site.hero.description %}
          {{ site.hero.description }}
        {% else %}
          {{ site.meta.description }}
        {% endif %}
        <br><br> 
        Like what you read? <a href="https://form.jotform.com/240732077152047" target="__blank">Fill out this form</a> to recommend/request a game.
      </p>

      <section class="hero__updates">
        <br>
      <span class="hero__subheader">
         🕹️ State of Play (ETA Mar-Apr '24)
      </span>
        <br>
      <p>
          <span class="text-bold">Discover Hour</span> | Steam Early Access Game (TBA)
      </p> 
      <p>
          <span class="text-bold">Discover Hour</span> | Dave the Diver
      </p> 
            <p>
          <span class="text-bold">Core Memory Pt 2</span> | The Legend Of Zelda: Tears of the Kingdom
      </p> 
      </section>
    </div>
  </div>

  <h2 class="section-title">
    ✨ Latest Case Studies
    {%- if pagination.pageNumber != 0 %} - Page {{ pagination.pageNumber + 1 }}{% endif %}
  </h2>
  {% include "components/postslist.njk" %}
  <div class="pagination">
      {% if pagination.previous %}
        <a href="{{ pagination.href.previous | url }}" class="pagination__prev">&larr; Prev Page</a>
      {% endif %}
      {% if pagination.next %}
        <a href="{{ pagination.href.next | url }}" class="pagination__next">Next Page &rarr;</a>
      {% endif %}
  </div>
</div>
