<footer class="footer">
  &copy; {{ helpers.currentYear() }} - {{ site.meta.title }}
  <span>&nbsp;|&nbsp;11ty Template from&nbsp;<a href="https://github.com/ar363/eleventy-stylus-blog-theme">ar363</a>&nbsp;</span>
  <span>|&nbsp;<a href="https://sibyllewrites.com" target="__blank">Portfolio</a></span>|&nbsp;<a href="https://howlongtobeat.com/user/volterohm" target="__blank">HowLongToBeat</a></span>
</footer>