<footer class="footer">
  &copy; {{ helpers.currentYear() }} - {{ site.meta.title }} | 11ty Template from&nbsp;  <a href="https://github.com/ar363/eleventy-stylus-blog-theme">ar363</a> |&nbsp;<a href="http://sibyllewrites.com">My Portfolio </a>
</footer>