<footer class="footer">
  &copy; {{ helpers.currentYear() }} - {{ site.meta.title }}
  <span>&nbsp;|&nbsp;11ty Template from&nbsp;<a href="https://github.com/ar363/eleventy-stylus-blog-theme">ar363</a>&nbsp;</span>
  <span>|<a href="http://sibyllewrites.com">&nbsp;My Portfolio</a></span>
</footer>